<!DOCTYPE html>
<html>
<head>
	<title>ProVerse - Login</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

	<style>
		.container-fluid {
			margin-right: auto;
			margin-left: auto;
			max-width: 400px;
		}
	</style>
</head>

<body>
<div class = "container-fluid">
	<h2 align = "center">Login</h2><br>
	<form action="{% url 'loginrequest' %}" method="post">
		{% csrf_token %}
		<div class="form-group">
			<label>Username*</label>
			<input type="text" maxlength="15" class="form-control" placeholder="Enter username" name="username" required="true">
		</div>
		<div class="form-group">
			<label>Password*</label>
			<input type="password" maxlength="50" class="form-control" placeholder="Enter password" name="password" required="true">
		</div>
		<button type="submit" class="btn btn-primary btn-block">Login</button>
	</form>
	<br>New to <b>ProVerse</b> ? <a href="{% url 'signup' %}">Sign Up</a> here
</div>
</body>
</html>